/* Media Queries */
@media screen and (max-width: 768px) {
    .switch {
        display: none;
    }

    .dropdown-content img {
        display: block;
    }

    .menuBtn {
        display: block;
        width: 30px;
        height: 30px;
    }

    .Navbar ul {
        display: none;
    }

    .Navbar {
        justify-content: space-between;
    }

    .footerLinks ul {
        gap: 25px;
    }

    .footerSocial ul {
        gap: 25px;
    }

    .footerSocial img {
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    .menuBtn {
        display: none;
    }

    .dropdown {
        display: none;
    }
}

@media screen and (min-width: 991px) and (max-width: 2057px) {
    .menuBtn {
        display: none;
    }

    .dropdown {
        display: none;
    }
}