/* Post Page */
.postHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    height: 100px;
    width: 100%;
    background-image: url('/images/header-bkg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0000009a;
}

.searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
}

.searchContainer form {
    border-radius: 5px;
}

.searchContainer input {
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    border: none;
    margin: 0;
}

.searchContainer button {
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    background-color: #105b9c;
    border: none;
    cursor: pointer;
    color: #fff;
}

.searchContainer button:hover {
    background-color: #f1356d;
}

/* Author */
.authorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.authorContainer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #105b9c;
}

.authorContainer h2 {
    font-size: 1.5rem;
    color: #105b9c;
    font-family: 'Merriweather', serif;
    margin: 1rem 0 0 0;
}

.authorContainer p {
    font-size: 1rem;
    color: #105b9c;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: .25rem 0;
    line-height: 1.5;
    padding: 0 1rem;
    max-width: 900px;
}

.authorContainer span {
    font-size: 1rem;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

#company {
    font-style: italic;
    color: #f1356d;
    font-weight: bold;
}

/* Social Share */
.shareBtn {
    background-color: #105b9c;
    border-radius: 16px;
    padding: 8px 5px;
    cursor: pointer;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: transform 0.5s;
    width: 130px;
}

.shareBtn:hover {
    background-color: #f1356d;
    transform: scale(1.05);
}

.shareBtn img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
}

.shareBtn2 {
    background-color: #f1356d;
    border-radius: 16px;
    padding: 8px 5px;
    cursor: pointer;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: transform 0.5s;
    width: 130px;
}

.shareBtn2:hover {
    background-color: #105b9c;
    transform: scale(1.05);
}

.shareBtn2 img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
}

.shareContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin: 2rem 0;
}

.likes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin: 2rem 0;
}

#likeBtn {
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: transform 0.5s;
}

#likeBtn:hover {
    transform: scale(1.05);
}

#likeBtn img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
}

#likeCount {
    font-size: 1rem;
    color: #105b9c;
    font-family: 'Roboto', sans-serif;
}

/* Blog Post */
.postGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    min-height: 2200px;
    margin-left: auto;
    margin-right: auto;
}

.postMain {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-left: 3rem;
    padding: 2rem;
}

.postMain h1 {
    word-wrap: wrap;
    max-width: 600px;
}

.blogPostContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    /* Add padding here */
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.figureImg img {
    width: 100%;
    max-width: 900px;
    max-height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.figureImg figcaption {
    font-size: smaller;
    color: #f1356d;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.blogPostContainer h1 {
    font-size: 2rem;
    margin: 1rem 0;
    color: #105b9c;
    font-family: 'Merriweather', serif;
}

.blogPostContainer p {
    font-size: 1rem;
    margin: 1rem 0;
    color: #105b9c;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.blogPostContainer a {
    font-size: 1rem;
    margin: 1rem 0;
    color: #f1356d;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.blogPostContainer a:hover {
    color: #105b9c;
}

blockquote {
    font-size: 1rem;
    color: #133f69;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    max-width: 600px;
}

small {
    font-size: small;
    color: #133f69;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

/* Related Posts */
.blogSection {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.blogSection h2 {
    font-size: 2rem;
    margin: 1rem 0;
    color: #105b9c;
    font-family: 'Merriweather', serif;
}

/* Related Blog Posts Card */
.relatedCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.relatedCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    width: 250px;
    height: auto;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
    transition: transform 0.5s;
}

.relatedCard:hover {
    transform: scale(1.05);
}

.relatedCard img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.relatedCard h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #105b9c;
    font-family: 'Merriweather', serif;
}

.relatedCard p {
    font-size: 1rem;
    margin: 1rem 0;
    color: #105b9c;
    font-family: 'Roboto', sans-serif;
}

.relatedCard a {
    font-size: 1rem;
    margin: 1rem 0;
    color: #f1356d;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.relatedCard a:hover {
    color: #105b9c;
}

/* Comments */
.commentsGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    height: auto;
    background-color: #00ffff26;
    min-height: fit-content;
}

.commentSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
    height: auto;
}

.commentSection h2 {
    font-size: 2rem;
    margin: 1rem 0;
    color: #105b9c;
    font-family: 'Merriweather', serif;
}

.commentForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px grey;
    padding: 2rem;
    border-radius: 10px;
}

.commentForm label {
    font-size: 1rem;
    color: #105b9c;
    font-family: 'Roboto', sans-serif;
}

.commentForm textarea {
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

.commentForm form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.commentForm button {
    width: 150px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    background-color: #105b9c;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.commentForm button:hover {
    background-color: #f1356d;
}

.commentForm textarea {
    padding: 5px 10px;
    font-size: 1rem;
    border: 1px solid #105b9c;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    min-height: 70px;
    resize: vertical;
}

.recentCommentSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
    height: auto;
    min-height: fit-content;
}

.recentCommentSection h3 {
    font-size: 2rem;
    margin: 1rem 0;
    color: #105b9c;
    font-family: 'Merriweather', serif;
    background-color: transparent;
}

.recentCommentsBox {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
    height: auto;

}

.recentComments {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.recentComments p {
    font-size: 1rem;
    color: #105b9c;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}


/* Subscribe */
.subscribe {
    background-color: #105b9c;
    height: 450px;
    width: 100%;
    padding: 2rem;
}

.subscribeCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    box-shadow: 0 0 10px grey;
    padding: 2rem 3rem;
    border-radius: 10px;
margin-left: auto;
    margin-right: auto;
}

.subscribeCard h2 {
    font-size: 2rem;
    margin: 0 0 2rem 0;
    color: #000000;
    font-family: 'Merriweather', serif;
}

.subscribeCard form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    max-width: 500px;
}

.subscribeCard input {
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #105b9c;
}

.subscribeCard button {
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    background-color: #f1356d;
    border: none;
    cursor: pointer;
    color: #fff;
}

.subscribeCard button:hover {
    background-color: #00ffff;
    color: #000000;
}