@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'mediaqueries.css';
@import 'poststyles.css';
@import 'footer.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* color: #00ffff;
color: hotpink;
color: #1590f9;
background-color: #9b9b9b12;
color: #105b9c;
*/

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: .5rem 2rem;
    font-family: 'Merriweather', serif;
    box-shadow: 0 0 10px grey;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    height: 90px;
}

.Navbar ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 25px;
}

.Navbar ul li a {
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: #105b9c;
}

.Navbar ul li a:hover {
    color: #f1356d;
}

.switch {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* Mobile Menu */
.menuBtn {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 0;
    left: 0;
    top: 100%;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 10px 10px -10px grey;
}

.dropdown-content a {
    color: #105b9c;
    padding: 1rem 2rem;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.dropdown-content a:hover {
    background-color: #f1356d;
    color: #fff;
}

.dropdown-content div {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.dropdown-content div:hover {
    background-color: #f1356d;
    width: 100%;
}

.dropdown-content img {
    background-color: transparent;
}

#menuBtn:checked+.dropdown-content {
    display: block;
}

#menuBtn {
    display: none;
}


/* Header */
header {
    background-image: url('/images/header-bkg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    height: 710px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.627);
}

.header h1,
h2 {
    margin: 1rem 0 2rem 0;
    color: #fff;
    font-family: 'Merriweather', serif;
    background-color: transparent;
    text-align: center;
    max-width: 900px;
    line-height: 1.5;
}

.header span {
    color: #00ffff;
    background-color: transparent;
    font-size: 3rem;
    line-height: 1.5;
    text-shadow: 4px 4px 4px #000000;
}

.header p {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    text-align: center;
    max-width: 900px;
    line-height: 1.5;
    font-size: larger;
}

/* Blog Card Section */
main h1 {
    font-size: 3rem;
    margin: 2rem 0;
    color: #105b9c;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.blogSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
    height: auto;
}

/* Blog Card */
.blogCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.blogCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    width: 300px;
    height: auto;
    min-height: 501px;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
    transition: transform 0.5s;
}

.blogCard:hover {
    transform: scale(1.05);
}

.blogCard img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.blogCard h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #105b9c;
    font-family: 'Merriweather', serif;
}

.blogCard p {
    font-size: 1rem;
    margin: 1rem 0;
    color: #105b9c;
    font-family: 'Roboto', sans-serif;
}

.blogCard a {
    font-size: 1rem;
    margin: 1rem 0;
    color: #f1356d;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.blogCard a:hover {
    color: #105b9c;
}

/* Arrow Button */
.arrowDown img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.5s;
    background-color: transparent;
    border: none;
    filter: invert(100%);
}

.arrowDown {
    padding: 5px 10px;
    height: 60px;
    width: 100px;
    background-color: #105b9c;
    border-radius: 20px;
    box-shadow: 0 0 10px grey;
    transition: transform 0.5s;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.arrowDown:hover {
    transform: scale(1.05);
}


/* Contact Section */
.contactSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    height: 710px;
    width: 100%;
    background-color: #00ffff11;
    margin-bottom: 140px;
}

.contactSection h2 {
    font-size: 2rem;
    margin: 1rem 0;
    color: #105b9c;
    font-family: 'Merriweather', serif;
}

.contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px grey;
    padding: 2rem;
    border-radius: 10px;
}

.contactContainer form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.contactContainer button {
    width: 150px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    background-color: #105b9c;
    color: #fff;
    cursor: pointer;
}

.contactContainer button:hover {
    background-color: #f1356d;
}

.contactContainer input {
    width: 100%;
    padding: 5px 10px;
    font-size: 1rem;
    border: 1px solid #105b9c;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.contactContainer textarea {
    padding: 5px 10px;
    font-size: 1rem;
    border: 1px solid #105b9c;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    min-height: 70px;
    resize: vertical;
}

